<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>

<?php $helper = Mage::helper('absoluteweb_faq2'); // @todo: you must set properly URI of your helper ?>
<?php $item = $this->getFaqById()?>

<form action="<?php echo Mage::getUrl('zhukov/index/save') ?>" method="POST" id="form-validate">
    <h2 class="legend">
        <?php if ($item->getId()): ?>
            <?php echo $helper->__('Edit') ?>
        <?php else: ?>
            <?php echo $helper->__('Add') ?>
        <?php endif; ?>
    </h2>
    <ul class="form-list">
        <li class="wide">
            <input type="hidden" name="id_enter" value="<?php echo $item->getId();?>" class="required"/>
            <br>
            <label for="question_enter" class="required">Question</label>
            <div class="input-box">
                <input type="text" name="question_enter" value="<?php echo $item->getQuestion();?>" title="" class="input-text required-entry" />
            </div>
            <label for="answer_enter" class="required">Answer</label>
            <div class="input-box">
                <input type="text" value="<?php echo $item->getAnswer();?>" title="" name="answer_enter" class="input-text required-entry"/>
            </div>
        </li>
        <button class="button" type="submit">addInfo</button>
    </ul>
</form>
<script type="text/javascript">
    <![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    ]]>
</script>
