<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>

<?php $helper = Mage::helper('absoluteweb_faq2'); // @todo: you must set properly URI of your helper ?>
<?php $collection = $this->getAllFaq() ?>
<h1><?php echo $helper->__('Frequently Asked Questions'); ?></h1>
<table border="2" width="600" height="200">
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>

<?php foreach ($collection as $item): ?>
    <tr align="center">
    <td><?php echo $item->getQuestion()?></td>
    <td><?php echo $item->getAnswer()?></td>
    <td><?php echo $item->getDate()?></td>
    <td><a href="<?php echo Mage::getUrl('zhukov/index/delete',array('id'=>$item->getId()))?>">delete</a></td><br>
    <td><a href="<?php echo Mage::getUrl('zhukov/index/editFaqById',array('id'=>$item->getId()))?>">edit</a></td>
    </tr>
<?php endforeach; ?>
</table>
<br><a class="button" href="<?php echo Mage::getUrl('zhukov/index/addNewFaq')?>">Add new Info</a>